<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
     <!--Product-->
    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>store.controllers.ProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/products/create</url-pattern>
        <url-pattern>/products/update</url-pattern>
        <url-pattern>/products/delete</url-pattern>
        <url-pattern>/products/show</url-pattern>
        <url-pattern>/products/quantity</url-pattern>
        <url-pattern>/products/details/*</url-pattern>
        <url-pattern>/api/products</url-pattern>
        <url-pattern>/api/products/promotion</url-pattern>
    </servlet-mapping>
    
    <!--Admin-->
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>store.controllers.AdminController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/loadProducts</url-pattern>
        <url-pattern>/admin/stored/products</url-pattern>
        <url-pattern>/admin/stored/categories</url-pattern>
        <url-pattern>/admin/stored/orders</url-pattern>
        <url-pattern>/admin/stored/users</url-pattern>
        <url-pattern>/admin/user/create</url-pattern>
        <url-pattern>/admin/*</url-pattern>
    </servlet-mapping>
    
    <!--Cart-->
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>store.controllers.CartController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/cart/view</url-pattern>
        <url-pattern>/cart/add</url-pattern>
        <url-pattern>/cart/update</url-pattern>
    </servlet-mapping>
    
    <!--Order-->
    <servlet>
        <servlet-name>InvoiceController</servlet-name>
        <servlet-class>store.controllers.InvoiceController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InvoiceController</servlet-name>
        <url-pattern>/orders/placed</url-pattern>
    </servlet-mapping>
    
    <!-- Site -->
    <servlet>
        <servlet-name>SiteController</servlet-name>
        <servlet-class>store.controllers.SiteController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SiteController</servlet-name>
        <url-pattern>/main</url-pattern>
        <url-pattern>/site/checkout</url-pattern>
        <url-pattern>/categories/*</url-pattern>
    </servlet-mapping>
    
    <!-- User -->
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>store.controllers.UserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/user/password/update</url-pattern>
        <url-pattern>/user/login</url-pattern>
        <url-pattern>/user/logout</url-pattern>
        <url-pattern>/user/signin</url-pattern>
        <url-pattern>/user/register</url-pattern>
        <url-pattern>/user/signup</url-pattern>
        <url-pattern>/user/forgetpassword</url-pattern>
        <url-pattern>/user/sendopt</url-pattern>
        <url-pattern>/user/validateopt</url-pattern>
        <url-pattern>/user/newpassword</url-pattern>
        <url-pattern>/user/myAccount</url-pattern>
        
        <!--Address-->
        <url-pattern>/user/address/update</url-pattern>
    </servlet-mapping>
    
    <!-- Customer -->
    <servlet>
        <servlet-name>CustomerController</servlet-name>
        <servlet-class>store.controllers.CustomerController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomerController</servlet-name>
        <url-pattern>/customers/dashboard</url-pattern>
        <url-pattern>/customers/orders</url-pattern>
        <url-pattern>/customers/addresses</url-pattern>
        <url-pattern>/customers/details</url-pattern>
        <url-pattern>/customers/password/update</url-pattern>
    </servlet-mapping>
    
    <!--Mail-->
    <servlet>
        <servlet-name>MailController</servlet-name>
        <servlet-class>store.controllers.MailController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MailController</servlet-name>
        <url-pattern>/sendMail</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <filter>
   <filter-name>CorsFilter</filter-name>
   <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
 </filter>
 <filter-mapping>
   <filter-name>CorsFilter</filter-name>
   <url-pattern>/*</url-pattern>
 </filter-mapping>
    
    <welcome-file-list>
        <welcome-file>main</welcome-file>
    </welcome-file-list>
    
    
</web-app>
<!--
Mail 
    <servlet>
        <servlet-name>MailController</servlet-name>
        <servlet-class>store.controllers.MailController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MailController</servlet-name>
        <url-pattern>/sendMail</url-pattern>
    </servlet-mapping>
    
    
    
   
     Site 
    <servlet>
        <servlet-name>SiteController</servlet-name>
        <servlet-class>store.controllers.SiteController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SiteController</servlet-name>
        <url-pattern>/</url-pattern>
        <url-pattern>/site/cart</url-pattern>
        <url-pattern>/site/checkout</url-pattern>
        <url-pattern>/categories/*</url-pattern>
    </servlet-mapping>
    
     Order 
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>-->