/*RESET CSS*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --nav-height: 48px;

  --primary: #45cfbe;
  --white: #fff;
  --black: #000;
  --green: #00a28e;
  --red: #d7422d;
  --gray: #888686;
  --disabled-green: #00d1b7;

  --rounded-full: 999px;

  --ff-pop: "Poppins", sans-serif;
  --ff-butler: "Butler";
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 1.6rem;
}

/* Reset a, button, list */

a,
button,
input,
[tab-index] {
  text-decoration: none;
  border: none;
  outline: none;
  display: inline-block;
  color: var(--black);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

ul,
ol {
  padding: 0;
  list-style-type: none;
}

/* Common */
.section-1200 {
  width: 1200px;
  margin: 0 auto;
}

.section-1100 {
  width: 1100px;
  margin: 0 auto;
}

.non-border-bottom {
  border: none !important;
}

.pull-right {
  float: right;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-green {
  color: var(--green);
}

.text-semibold {
  font-weight: 600 !important;
}

.center {
  display: block;
  margin: 0 auto;
  width: fit-content;
}

.clear {
  clear: both;
}

.relative {
  position: relative;
}

/* margin, padding */
.ml-10 {
  margin-left: 10px;
}

.ml-20 {
  margin-left: 20px;
}

.mr-8 {
  margin-right: 8px;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.mt-0 {
  margin-top: 0px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-60 {
  margin-top: 60px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-80 {
  margin-top: 80px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-100 {
  margin-bottom: 100px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-40 {
  padding-bottom: 40px;
}

/* activate */

.active {
  color: var(--primary) !important;
}

.hidden {
  display: none;
}

.strong {
  color: var(--primary);
  text-decoration: underline;
}

/* font-size */
.fs-18 {
  font-size: 1.8rem !important;
}
.fs-14 {
  font-size: 1.4rem !important;
}

.fs-12 {
  font-size: 1.2rem !important;
}

/* display */

.block {
  display: block;
}

.flex {
  display: flex;
}

.flex.flex-col {
  flex-direction: column;
}

.flex.justify-between {
  justify-content: space-between;
}

.flex.align-center {
  align-items: center;
}

.w-100 {
  width: 100%;
}

.w-max {
  width: max-content;
}

/* global message */

.message {
  position: relative;
  padding-bottom: 10px;
  font-weight: 500;
}

.message.message--error {
  color: red;
}

.message.message--error::before {
  position: absolute;
  left: -13px;
  right: -4px;
  top: 0;
  content: "*";
  display: block;
  color: red;
}

/* button */

.btn {
  font-size: 1.5rem;
  padding: 10px 22px;
  font-weight: 600;
  line-height: 22.5px;
  color: var(--white);
  background-color: var(--primary);
  border-radius: var(--rounded-full);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.35);
  color: var(--white);
  letter-spacing: 1px;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
}

.btn.btn-m {
  font-size: 1.3rem;
  padding: 10px 30px;
  font-weight: 600;
}

.btn-full-w {
  padding: 8px 15px;
}

.btn + .btn {
  margin-top: 10px;
}

.btn.btn--active {
  background-color: var(--green);
}

.btn.btn--active:hover {
  background-color: var(--primary);
}

.btn.btn--disabled {
  background-color: var(--primary);
  opacity: 0.8;
  cursor: not-allowed;
}

/* input */

.input-wrapper {
  width: 100%;
  padding: 0 15px;
  margin-top: 20px;
}

.common-input {
  color: #333;
  font-size: 1.4rem;
  background-color: transparent;
  border: 1px solid #e1e1e1;
  border-radius: 2rem;
  padding: 0 20px;
  margin: 10px 0;
  border-radius: var(--rounded-full);
  font-family: var(--ff-pop);
  width: 100%;
  line-height: 45px;
}

.common-input:focus {
  border-color: #00d1b7;
}

/* label */

.common-heading {
  font-size: 2.4rem;
  font-family: var(--ff-butler);
  margin: 20px 0;
}

.common-label {
  font-size: 1.4rem;
  font-family: var(--ff-pop);
  position: relative;
}

/* selection */

.common-selection {
  display: block;
  height: 45px;
  padding: 10px 15px;
  background-color: transparent;
  border: 1px solid #e1e1e1;
  border-radius: var(--rounded-full);
  font-family: var(--ff-pop);
  width: 100%;
  margin-top: 10px;
  color: #333;
  font-size: 1.4rem;
}

.required.common-label::after {
  position: absolute;
  right: -15px;
  top: 0;
  content: "*";
  display: block;
  color: red;
}

/* login, register, forgot */
.login-content {
  width: 700px;
  padding: 40px 60px;
  margin-bottom: 70px;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px,
    rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px,
    rgba(240, 46, 170, 0.05) 0px 25px;
}

/* Change password */

.change-password {
  padding: 15px;
  background-color: #f8f9fa;
}

/* Header */
#header {
}

/* nav */
.nav {
  height: var(--nav-height);
  width: 100%;
  background-color: var(--primary);
}

.nav__wrapper {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.nav__list {
  display: flex;
}

.nav__list li {
  margin-right: 25px;
}

.nav__list li a {
  font-weight: 600;
}

.action a,
.nav__list li a {
  font-size: 1.2rem;
  line-height: var(--nav-height);
  display: inline-block;
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
}

.action a {
  padding-left: 14px;
  padding-right: 14px;
}

.action i[class*="fa-"] {
  margin-right: 4px;
}

/* Sub-header */
.sub-header {
  width: 1100px;
  margin: 0 auto;
}

.sub_header__wrapper {
  display: flex;
}

.sub-header__info {
  display: flex;
  width: max-content;
}

.sub-header__info div {
  display: flex;
  align-items: center;
  margin-right: 32px;
}

.sub-header__info i {
  color: var(--primary);
  font-size: 28px;
  margin-right: 4px;
}

.sub-header__info span {
  font-size: 1.5rem;
  font-weight: 500;
}

.sub-header__img {
  padding: 30px 80px;
}

.sub-header__img .store-img {
  width: 250px;
  height: 50px;
}

.store-img {
}

.sub-header__action {
  display: flex;
  align-items: center;
}

.search {
  display: flex;
  align-items: center;
  position: relative;
}

.search input {
  width: 210px;
  line-height: 40px;
  border-radius: var(--rounded-full);
  border: 1px solid #ccc;
  padding: 0 20px;
  font-family: var(--ff-pop);
  letter-spacing: 0.5px;
}

.search input:focus {
  border: 1px solid #000;
}

.sub-header__action i {
  padding: 0 20px;
  font-size: 24px;
}
.sub-header__action .search i {
  padding: 0 20px;
}

.search-icon {
  font-weight: 600;
}

/*Search model*/

.search-model {
  position: absolute;
  top: 50px;
  width: 400px;
  max-height: 600px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
  background-color: #fff;
  z-index: 100;
  border-radius: 4px;
  overflow-x: scroll;
}

#suggestions-container {
}

#suggestions-container li {
  padding: 10px 20px 10px 10px;
  margin-bottom: 10px;
}

#suggestions-container li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.search-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border: 1px solid #ccc;
}

.search-text {
  line-height: 1.4;
  width: 310px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* Cart */

.selected-quantity {
  position: absolute;
  top: -6px;
  left: 30px;
  text-align: center;
  line-height: 19px;
  border-radius: 50%;
  width: 19px;
  height: 19px;
  background-color: var(--primary);
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 700;
}

.sub-header__action .cart .cart-icon {
  font-weight: 600;
  padding: 10px 20px 30px 20px;
}

.cart {
  position: relative;
}

.cart:hover .cart-wrapper {
  display: block;
}

.cart-wrapper {
  display: none;
  position: absolute;
  right: 16px;
  top: 40px;
  z-index: 9999;
  right: 0;
  box-shadow: -2px 2px 25px -8px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  width: 380px;
  padding: 22px;
  background-color: var(--white);
}

.cart__title {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.8rem;
  letter-spacing: 1px;
  margin-bottom: 24px;
  font-weight: 400;
}

.cart-list {
}

.cart-item {
  margin: 15px 0;
}

.cart-item::after {
  content: "";
  display: block;
  height: 1px;
  width: 25px;
  background-color: #88868662;
}

.cart-item .title-img {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.xmark-icon {
  position: absolute;
  left: 60px;
  top: -8px;
  background-color: #fff;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  fill: var(--primary);
}

.xmark-icon:hover {
  background-color: var(--primary);
  fill: var(--white);
}

.cart-item .item-img {
  margin-right: 15px;
  width: 80px;
  height: 80px;
  border: 1px solid #e1e1e1;
}

.cart-item .item-title {
  font-size: 1.5rem;
  color: var(--black);
  line-height: 1.4;
  font-weight: 500;
}

.item-quantity {
  font-size: 1.6rem;
  color: #262626;
  margin: 14px 0;
  display: block;
  height: 14px;
}
/* 
.item-quantity::after {
  position: relative;
  left: 90px;
  content: "";
  display: block;
  height: 1px;
  width: 25px;
  background-color: #88868662;
  margin: 14px 0;
  left: 90px;
} */

.subtotal {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  margin-top: 22px;
  margin-bottom: 30px;
}

.total-price {
  font-weight: 600;
}

.cart-wrapper__btn {
  display: flex;
  flex-direction: column;
}

.cart-view {
}

.cart-checkout {
}

.phone {
  width: max-content;
}

/* Catalog */
.catalog {
  width: 100%;
  border: 1px solid #ebebeb;
}

.catalog-list {
  display: flex;
  margin-left: -15px;
  justify-content: center;
}

.catalog-list > li > a {
  line-height: 50px;
  padding: 0 20px;
  font-size: 1.5rem;
  font-weight: 500;
  width: max-content;
  display: inline-block;
  color: var(--black);
}

.catalog-list li[class*="catalog-shop"] a {
  display: flex;
  align-items: center;
}

.catalog-list li[class*="catalog-shop"]:hover .mega-menu {
  display: block;
}

.mega-menu {
  position: absolute;
  display: none;
  z-index: 20;
  left: -110px;
  width: 1200px;
  padding: 15px;
  background-color: var(--white);
  box-shadow: -2px 2px 25px -8px rgba(0, 0, 0, 0.25);
}

.mega-menu figure {
  padding: 15px;
}

.mega-menu img {
  object-fit: contain;
  width: 100%;
}

.menu-parent li:hover a {
  color: var(--disabled-green);
}

.parent-wrapper {
  padding: 10px;
}

.parent-wrapper > .title {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 14px;
  line-height: 24px;
}

.menu-parent > li {
  margin-bottom: 4px;
  line-height: 21px;
}

.menu-parent > li > a {
  font-size: 1.3rem;
}

.catalog-list li[class="catalog-shop"]:hover .mega-menu {
}

/* Breadcrumb */
.breadcrumb {
  background-image: url(https://mldrbgfat3wx.i.optimole.com/SQPHnU0-iV12xpbv/w:1440/h:172/q:auto/https://dici.themes.zone/main/wp-content/uploads/sites/8/2019/04/ribbon.jpg);
  height: 172px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 45px;
}

.breadcrumb__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.breadcrumb-list {
  display: flex;
}

.breadcrumb-list a {
  font-size: 1.3rem;
  color: #000;
}

.breadcrumb__title {
  margin-top: 15px;
  font-family: var(--ff-butler);
  font-size: 4rem;
  font-weight: 300;
}

/* Content */

.main {
}

/* Category */
.sidebar-section {
}

.sidebar-heading {
  letter-spacing: 1px;
  font-size: 1.8rem;
  line-height: 1.4;
  font-weight: 500;
  margin-bottom: 30px;
}

.category-list {
}

.category-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.parent {
  font-size: 15px;
  font-weight: 500;
  padding: 10px 0;
}

.parent i {
  font-size: 1.2rem;
  padding: 4px;
}

.child-list {
  padding-left: 15px;
  padding-top: 10px;
}

.child-list li {
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 10px;
  line-height: 21px;
}

.child-list li:hover a {
  color: var(--primary);
}

.category-item a {
  color: var(--black);
  font-size: 15px;
  font-weight: 500;
  padding: 10px 0;
}

.category-item:hover a {
  color: var(--green);
}

.category-item i[class*="fa-plus"] {
  font-size: 11px;
  cursor: pointer;
  width: 20px;
  text-align: center;
  line-height: 42.5px;
}

i[class*="fa-plus"]:hover {
  color: var(--primary);
}

.separate {
  width: 100%;
  height: 1px;
  background-color: #888686;
  display: block;
  margin: 40px 0;
}

/* Filter */

.price-slider-wrapper {
  position: relative;
}

.price-slider {
  width: 100%;
  height: 3px;
  background-color: var(--primary);
  border: 0.5px solid #ccc;
  border-radius: 999px;
}

.ui-slider-min {
  position: absolute;
  z-index: 10;
  top: -9px;
  left: 0;
  display: block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.ui-slider-max {
  position: absolute;
  z-index: 10;
  top: -9px;
  right: 0;
  display: block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.price-slider-amount {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price-label {
  font-size: 1.3rem;
  color: var(--gray);
}

/* filter-list */
.filter-list {
}

.filter-list li {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 18px 0;
}

.filter-list li::before {
  position: absolute;
  top: 4px;
  left: 0;
  content: "";
  width: 8px;
  height: 8px;
  border: 2px solid var(--gray);
  box-sizing: border-box;
}

.filter-list li a {
  font-weight: 500;
  padding-left: 20px;
}

.filter-list li .count {
  font-size: 1.2rem;
  color: var(--gray);
}

/* best selling product */
.best-product-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 0;
}

.best-product-list li img {
  margin-right: 15px;
  object-fit: cover;
}
.best-product-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70px;
}

.best-product-wrapper .product-title {
  font-weight: 500;
  line-height: 1.4;
  font-size: 1.5rem;
}

.best-product-wrapper .price-wrapper {
  display: flex;
  align-items: center;
}

.product-price.old-price {
  position: absolute;
  right: 38px;
  top: 2px;
  width: max-content;
  font-weight: 600;
  font-size: 1.4rem;
  margin-right: 6px;
  text-decoration: line-through;
  opacity: 0.6;
}

.best-product-wrapper .product-price,
.best-product-wrapper .product-price.new-price {
  display: block;
  width: max-content;
  font-size: 1.6rem;
}

.product-price.new-price {
  color: var(--red);
  font-weight: 600;
  font-size: 1.6rem;
}
.product-wrapper {
  position: relative;
}
.product-wrapper:hover {
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.08);
  position: absolute;
  z-index: 10;
  width: 92%;
}

.product-wrapper .product__body {
  display: block;
}

.coupon-img {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 50px;
  height: 50px;
}

/* Product */

.paging-lable {
  margin-bottom: 20px;
  display: block;
  color: #696969;
}

.product-item {
  font-family: var(--ff-pop);
}

.product-item {
  height: 493px;
}

.product__img {
  width: 100%;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.category-lable {
  text-align: center;
  display: block;
  font-size: 1.2rem;
  color: #888686;
  height: 20px;
  margin-top: 15px;
}

.product__title {
  font-size: 1.6rem;
  color: var(--black);
  text-align: center;
  margin: 10px 0;
  line-height: 1.4;
  min-height: 44.8px;
  padding: 0 20px;
}

.product__price {
  text-align: center;
  display: block;
  color: var(--green);
  font-weight: 500;
  margin: 8px 0;
}

.btn-wrapper {
  display: none;
  background-color: var(--white);
  padding: 4px 20px 20px 20px;
  text-align: center;
}

.product-item:hover .btn-wrapper {
  display: block;
}

.add-to-cart-btn {
  font-size: 1.5rem;
  padding: 10px 22px;
  font-weight: 300;
  line-height: 22.5px;
  color: var(--white);
  background-color: var(--black);
  border-radius: var(--rounded-full);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.35);
  color: var(--white);
  letter-spacing: 1px;
  margin-top: 12px;
}

.add-to-cart-btn:hover {
  background-color: var(--primary);
  color: var(--white);
}

/* Cart page */

.table-cart {
  text-align: center;
  margin-bottom: 22px;
}

tr td,
tr th {
  vertical-align: middle;
}

tr {
  border-bottom: 1px solid #ccc;
}

tr:last-child {
  border: none;
}

tr th {
  padding: 10px 15px;
}

tr td {
  padding: 20px;
}

.cart-thead {
  display: table-header-group;
  background-color: #f8f9fa;
  color: #939393;
  height: 44px;
  text-transform: uppercase;
  font-weight: 500;
}

td.product-remove {
  width: 5%;
}

td.product-thumbnail a {
  width: 150px;
  text-align: left;
}

td.product-thumbnail .product-img {
  width: 100px;
  height: 100px;
}

td.product-name {
  text-align: left;
}

.variation-wrapper {
}

.variation-wrapper .variation {
  font-size: 1.4rem;
  line-height: 2rem;
  color: #888686;
}

td.product-name .variation {
  color: #888686;
  font-weight: 400;
}

td.product-name .title {
  font-size: 1.5rem;
  font-weight: 500;
}

th.product-price {
  font-size: 1.4rem;
  width: 20%;
}

td.product-price {
}

th.product-quantity {
  font-size: 1.4rem;
}

th.product-subtotal {
  font-size: 1.4rem;
  width: 12%;
}

td.product-subtotal {
  font-weight: 600;
}

.remove-icon {
  fill: var(--primary);
}

.quantity-input {
  color: #888686;
  background-color: transparent;
  border: 1px solid #e1e1e1;
  border-radius: 2rem;
  padding: 10px 0;
  font-size: 1.3rem;
  display: inline-block;
  width: 80px;
  text-align: center;
  padding-left: 12px;
}

/* table action */

.table-action {
}

.coupon {
  display: inline-block;
  float: left;
}

.update-quantity-btn {
  float: right;
}

.coupon-btn,
.update-quantity-btn {
  font-weight: 600;
}

.coupon-input {
  width: 300px;
  text-align: left;
}

/* cart total */

.cart-total .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
}

.empty-block {
}

.total {
  padding: 20px;
  margin-top: 30px;
  border: 1px solid #ccc;
}

.total-title {
  font-size: 1.7rem;
  text-transform: uppercase;
  margin: 8px 0 15px;
  font-weight: 500;
  padding-left: 20px;
}

.total-sub-title {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #939393;
  font-weight: 500;
}

.total-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  border-bottom: 1px solid #ccc;
}

.total-list li:last-child {
  padding: 28px 15px 20px 15px;
}

.cart-highlight {
  font-size: 1.5rem;
  font-weight: 700;
}

/* Address */
.address-item {
}

.address-select {
  display: block;
  height: 40px;
  padding: 10px 15px;
  color: #888686;
  background-color: transparent;
  border: 1px solid #e1e1e1;
  border-radius: var(--rounded-full);
  width: 100%;
  margin-top: 10px;
}

.address-wrapper {
  width: 100%;
  padding: 0 10px;
  margin-bottom: 20px;
}

.address-input {
  height: 40px;
  padding: 10px 15px;
  color: #888686;
  background-color: transparent;
  border: 1px solid #e1e1e1;
  border-radius: var(--rounded-full);
  width: 100%;
  margin-top: 10px;
}

.note-wrapper {
  padding: 0 10px;
}

.address-note {
  display: block;
  padding: 10px 15px;
  color: #888686;
  background-color: transparent;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  width: 100%;
  margin-top: 10px;
}

/*  */
.change-address {
  text-decoration: underline;
  color: var(--primary);
  font-size: 1.3rem;
}

.shipping-block {
  text-align: right;
}

.shipping-block .item {
  line-height: 28px;
}

/* checkout */

.checkout-wrapper {
  display: grid;
  column-gap: 30px;
  grid-template-columns: 685px 487px;
}

.detail-address {
}

.checkout-product {
}

.inner {
  padding: 15px;
  border: 1px solid #ccc;
}

.checkout-table {
  border-collapse: collapse;
  margin-bottom: 22px;
}

.checkout-table thead {
  background-color: #f8f9fa;
  color: #939393;
  height: 44px;
}

th[class*="product-total"],
th[class*="product-name"] {
  text-transform: uppercase;
  font-size: 1.4rem;
}

.product-total {
  text-align: right;
  font-size: 1.5rem;
}

tr th[class*="product-name"] {
  width: 60%;
  text-align: left;
  font-weight: 500;
}

tr th[class*="product-total"] {
  text-align: right;
  font-weight: 500;
}

tr td[class*="product-name"] {
  text-transform: initial;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 26px;
}

.product-quantity {
}

.product-total {
  line-height: 24px;
}

.amount {
  font-size: 2.2rem;
  color: var(--green);
}

/* Payment */

.payment {
  margin-bottom: 15px;
}

.order-title {
  font-size: 2.2rem;
  letter-spacing: 1px;
  margin-bottom: 15px;
  font-weight: 500;
}

.payment-list {
  /* margin: 15px; */
}

.payment-list li {
  margin: 10px 0;
}

.payment-list li img {
  vertical-align: middle;
}

.payment p,
label {
  font-size: 1.5rem;
  line-height: 1.4;
}

input[name="payment-radio"]:checked ~ .payment-box {
  display: block;
}

.payment-box {
  display: none;
  margin-top: 15px;
  padding: 15px;
  background-color: #f8f9fa;
}

input[type="radio"] {
  margin-right: 10px;
}

.policy {
  text-align: center;
  margin: 20px 0;
}

.policy-link {
  text-decoration: underline;
}

.term {
  width: max-content;
  margin: 0 auto;
  margin-bottom: 15px;
}

.term p {
  display: inline-block;
  width: max-content;
}

.term-inner {
  display: inline-block;
  width: max-content;
  margin: 0 auto;
}

.place-order-btn {
  width: 100%;
  padding: 7px 22px;
}

/* Footer */

.footer {
  margin-top: 40px;
}

.branch-wrapper {
  position: relative;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

.branch-heading {
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: var(--ff-butler);
  text-transform: uppercase;
}

.branch-sub-heading {
  font-size: 1.3rem;
  text-transform: uppercase;
}

.list-title {
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px 0;
  letter-spacing: 1px;
}

.footer-list li a {
  font-size: 1.3rem;
  line-height: 1.6;
  margin: 10px 4px;
}

/* sub-footer */
.sub-footer {
  border-top: 1px solid #ccc;
  padding: 10px 0;
  margin-top: 40px;
}

.sub-footer section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sub-footer .payment-list {
  display: flex;
}

.payment-list li {
  margin-right: 20px;
}

.payment-list li a {
  font-size: 30px;
  opacity: 0.7;
}

.footer-menu {
  display: flex;
}

.footer-menu li a {
  font-size: 1.4rem;
  opacity: 0.6;
}

.footer-menu li::after {
  content: "|";
  margin: 0 10px;
  opacity: 0.6;
}

.footer-menu li:last-child::after {
  content: "";
  margin: 0;
}

/* Paging */

.paging {
  /*margin-top: 40px;*/
  /* margin-bottom: 100px; */
}

.paging-list {
  display: flex;
  width: max-content;
  margin: 0 auto;
}

.paging-list li {
  text-align: center;
  border-bottom: 2px solid var(--black);
  margin-right: 10px;
}

.paging-list a {
  padding: 15px;
  font-size: 1.6rem;
}

.paging-list li:last-child {
}

/* Product details */

.product-detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.product-img {
  width: 100%;
}

.main-img,
.main-img img {
  width: 100%;
  display: block;
}

.main-img img {
  object-fit: contain;
}

.sub-img-list {
  display: flex;
}

.sub-img {
  width: 80px;
  height: 80px;
  margin-right: 20px;
  border: 1px solid #e1e1e1;
}

.sub-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.sub-img:hover {
  border-color: #00d1b7;
}

/*Product detail*/

.product-content {
}

.product-content__title {
  font-family: var(--ff-butler);
  font-size: 3.2rem;
  font-weight: 500;
  margin: 22px 0;
  line-height: 1.4;
}

.price-wrapper {
  margin: 10px 0;
  position: relative;
}

.price-wrapper .old-price {
  font-weight: 500;
  color: #9e9e9e;
  font-size: 1.4rem;
  text-decoration: line-through;
}

.price-wrapper .new-price {
  font-weight: 600;
  color: #d7422d;
  font-size: 1.6rem;
}

.price-wrapper .price {
  font-weight: 600;
  color: #000;
  font-size: 2rem;
}

.product-desc {
  font-size: 1.5rem;
  line-height: 1.7;
  margin: 20px 0 30px 0;
}

.variation {
}

.variation-name {
  width: 15%;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 500;
  padding-left: 10px;
}

.selection {
  display: inline-block;
  width: 79%;
  padding: 10px;
}

.selection-wrapper {
  position: relative;
  display: inline-block;
  width: 45%;
  padding: 0 15px;
  color: #888686;
  line-height: 42px;
  font-size: 1.4rem;
  border: 1px solid #ccc;
  border-radius: 999px;
}

/* select list */
.select-list {
  position: absolute;
  z-index: 10;
  width: 200px;
  margin-top: 10px;
  background-color: #fff;
}

.select-list li {
  background-color: #fafafa;
  padding: 13px 20px;
  margin-bottom: 2px;
  font-size: 1.5rem;
}

.select-list li:hover {
  background-color: #e4e0e0;
}

.arrow-down-icon {
  position: absolute;
  right: 10px;
  top: 0;
  padding: 13px 0px 13px 180px;
  font-size: 1.6rem;
  color: var(--black);
  cursor: pointer;
}

.quantity-wrapper {
  position: relative;
  display: inline-block;
  margin-bottom: 6px;
}

.quantity-input {
  display: inline-block;
  width: 90px;
  padding: 0 26px;
  line-height: 42px;
  cursor: pointer;
}

.increase-btn {
  display: block;
  position: absolute;
  padding: 4px;
  top: 10.5px;
  right: 8px;
  font-size: 1.6rem;
  background-color: transparent;
  cursor: pointer;
  user-select: none;
}

.decrease-btn {
  display: block;
  position: absolute;
  padding: 4px;
  top: 9px;
  left: 8px;
  font-size: 2rem;
  background-color: transparent;
  cursor: pointer;
  user-select: none;
}

/*Category list*/

.product-content .category-list {
  margin-top: 20px;
  display: flex;
  font-size: 1.2rem;
}

.product-content .category-list li a {
  margin-right: 4px;
  text-transform: uppercase;
  color: var(--green);
  font-weight: 500;
}

/* Additional */

.additional {
  width: 100%;
}

.tab-list {
  display: flex;
  width: 100%;
  position: relative;
}

.tab-list::after {
  position: absolute;
  bottom: 0;
  content: "";
  height: 1px;
  width: 100%;
  background-color: #ccc;
}

.tab-list li {
  margin-right: 45px;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 20px 0;
  letter-spacing: 1px;
  border-bottom: 1px solid #ccc;
}

.additional-body {
  width: 100%;
  padding-top: 20px;
}

.additional-heading {
  font-family: var(--ff-butler);
  font-size: 3.2rem;
  margin: 26px 0;
}

.additional-text {
  font-size: 1.5rem;
  line-height: 1.7;
  font-weight: 400;
}

/*  */

.variation-table tr th {
  background-color: #f1f1f1;
  font-weight: 600;
  font-size: 1.4rem;
  padding: 12px 16px;
}

.variation-table tr td {
  padding: 0 20px;
}

/*  */

.no-review {
  padding: 20px;
  border-top: 3px solid #fda403;
}

.no-review i {
  color: #fda403;
  margin-right: 20px;
}

.no-review .text {
  letter-spacing: 0.5px;
  font-size: 1.4rem;
}

/*  */

.related-product .heading {
  position: relative;
  font-size: 2.2rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 80px;
}

.related-product .heading::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  bottom: -36px;
  content: "";
  background-image: url(https://dici.themes.zone/black/wp-content/themes/dici/assets/img/title_o.png);
  background-size: contain;
  width: 108px;
  height: 15px;
  display: block;
}

/* address billing */

.login-heading {
  font-size: 4.5rem;
  font-family: var(--ff-butler);
  margin: 15px 0;
}

.login-input-wrapper {
  padding: 10px 0;
}

.login-input-wrapper + .login-input-wrapper {
  margin-top: 5px;
}

/*========================================================= Customer */

.text-left {
  text-align: left;
}

.customer-nav {
  flex-grow: 1;
  margin-right: 15px;
}

.nav-list li {
  text-align: right;
  margin: 5px 0;
}

.nav-list li a {
  font-size: 1.6rem;
  text-transform: uppercase;
  line-height: 26px;
}

.nav-content {
  flex-grow: 9;
  padding-left: 15px;
  border-left: 1px solid #ccc;
}

.order-table {
  width: 100%;
}

.order-table thead {
  background-color: #f8f9fa;
}

.order-table th {
  font-size: 1.4rem;
  padding: 12px 15px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #939393;
  font-weight: 500;
}

.order-table td {
  font-size: 1.5rem;
}

.order-table td .orderId {
  text-decoration: underline;
}
